---
const currentYear = new Date().getFullYear();
---

<footer class="pt-12 pb-6">
  <div class="container mx-auto px-4">
    <p class="text-center text-sm text-muted-foreground">
      &copy; {currentYear} Certfolio | vhnam.github.io
    </p>
  </div>
</footer>
